:root {
  box-sizing: border-box;
  --bg-body: hsl(185, 75%, 39%);
  --clr-accent: hsl(229, 23%, 23%);
  --clr-light: hsl(227, 10%, 46%);
  --clr-lightest: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.user-card {
  max-width: 23.4375rem;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.user-card * {
  margin: 0;
}

.user-card__pattern img {
  display: block;
  width: 100%;
}

.user-card__stats {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid var(--clr-lightest);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
