:root {
  box-sizing: border-box;
  --bg-body: hsl(185, 75%, 39%);
  --clr-accent: hsl(229, 23%, 23%);
  --clr-light: hsl(227, 10%, 46%);
  --clr-lightest: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typography */
.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-08 {
  font-size: 0.8rem;
}

.clr-accent {
  color: var(--clr-accent);
}

.clr-light {
  color: var(--clr-light);
}

/*  */

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.user-card {
  margin-block: auto;
  max-width: 23.4375rem;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;

  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.25);

  display: flex;
  flex-direction: column;
}

.user-card * {
  margin: 0;
}

.user-card__pattern img {
  display: block;
  width: 100%;
}

.user-card__info {
  position: relative;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.user-card__name-age {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.user-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 0.4rem solid white;
}

.user-card__stats {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
}

.user-card__stats p {
  margin: 0.2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
